@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a, p, span, label, legend {
    font-size: 16px;
}

img {
    width: 100%;
    height: 150px;
    background-color: grey;
    object-fit: contain;
}

body {
    padding: 0 15px;
}

.container {
    display: grid;
    grid-template-areas:
        "header header aside"
        "main main aside"
        "main main aside";
        grid-template-rows: 80px 1fr;
    grid-template-columns: repeat(3, calc(100%/3));
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: flex-start;
    grid-gap: 2px;
}

header {
    grid-area: header;
    display: inherit;
    grid-template-columns: max-content 1fr 200px;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    background-color: #ff867c;
    padding: 10px;
}

main {
    grid-area: main;
    height: 100%;
}

aside {
    grid-area: aside;
    min-width: 300px;
    padding: 10px;
    background-color: #ebb249;
    & img {
        height: auto;
        margin: 10px 0;
        border: 1px solid black;
    }
    & section{
        & h2 {
            font-weight: 500;
            font-size: clamp(1em, 2vw, 2em);
        }
        &:nth-of-type(2){
            & img {
                width: 50%;
                float: left;
                margin-bottom: 0;
            }
        }
        & .lists {
            clear: both;
            display: flex;
            align-items: flex-start;
        }
        & ol, ul {
            padding-left: 20px;
            li {
                font-size: 20px;
            }
        }
        & ul {
            margin-left: 30px;
        }
    }
}

article {
    width: 100%;
    padding: 5px;
    background-color: #80e27e;
    /* flex-grow: 1;
    &:not(:last-child) {
        margin-bottom: 40px;
    } */
    & p {
        font-size: 14px;
        font-style: italic;
    }
    &:not(:first-child) p{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

table:not(.table) {
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
    & th {
        padding: 5px;
        color: white;
        background-color: darkgreen;
    }
    & tr {
        width: 100%;
        height: 50px;
        &:nth-child(2n + 1) {
            background-color: darkgray;
            color: white;
        }
        &:nth-child(2n) {
            background-color: gray;
        }
    }
    & td {
        width: calc(100%/4);
        height: 100%;
        padding: 5px;
    }
}


form {
    & legend {
        font-size: 20px;
        font-weight: 600;
    }
    & fieldset {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &:last-child {
            flex-direction: row;
            & input, button {
                padding: 0;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
    & button {
        width: 100%;
        height: 45px;
        font-size: 100%;
        line-height: 100%;
        color: grey;
        margin: 0.5rem 0;
    }
    & input{
        font-size: 100%;
        line-height: 100%;
        color: grey;
        margin: 0.5rem 0;
        padding: 15px;
        &:not([type="checkbox"], [type="radio"]){
            width: 100%;
            height: 45px;
        }
        &[type="color"] {
            width: 200px;
            height: 60px;  
        }
        &[type="image"] {
            width: 140px;
            height: 50px;
            object-fit: contain;
        }
    }
    & select {
        width: 50%;
        height: 45px;
        font-size: 100%;
        line-height: 100%;
        color: grey;
        margin: 0.5rem 0;
        padding: 15px;
    }
    & textarea {
        resize: none;
        width: 100%;
        height: 100px;
        font-size: 1.5em;
        color: grey;
        padding: 15px;
    }
    & select {
        padding: 0;
    }
    & label {
        &:nth-of-type(-n+8) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            & input {
                margin-right: 15px;
                width: 20px;
                height: 20px;
            }
        }
    }
}

.header {
    & .logo {
        font-size: 2em;
        margin-right: 40px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__menu{
        & ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
        }
    }
}

.main {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }
    &__sidebar {
        width: 100px;
        height: 100%;
        float: left;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 40px;
        /* display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between; */
    }
    &__content {
        width: calc(100% - 103px);
        height: 100%;
        float: right;
        background-color: #d16d8f;
        margin-left: 2px;
        padding: 10px;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &._header {
        & a{
            font-size: 18px;
        }
    }
}

.read-more {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin: 20px 0;
    & + input {
        display: none;
    }
}


.table {
    width: calc(100% + 4px);
    border-spacing: 0;
    & td {
        min-height: 45px;
        vertical-align: top;
        padding: 0 5px;
    }
    & tr {
        &:first-child {
            & td {
                &:first-child {
                    background-color: #ff867c;
                    line-height: 80px;
                    height: 80px;
                }
                &:nth-child(2) {
                    width: calc(100%/3);
                    background-color: #ebb249;
                }
            }
        }
        &:nth-child(2) {
            & td {
                &:first-child {
                    width: 100px;
                    padding: 0;
                }
                &:nth-child(2) {
                    background-color: #d16d8f;
                }
            }
        }
    }
    .logo._header {
        height: 100%;
        float: left;
        margin-right: 20px;
        vertical-align: middle;
    }
    .header__menu {
        height: 100%;
        float: left;
    }
    .contacts._header {
        height: 100%;
        float: right;
        display: initial;
    }
    article:not(:last-child) {
        margin-bottom: 40px;
    }
    
    article {
        height: auto;
    }
}

// #app {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: 25px 40px 30px 30px;
//     grid-column-gap: 20px;
//     grid-row-gap: 10px;
//     align-items: center;
//     justify-content: flex-start;
//     max-width: 500px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 40px;
//     box-shadow: 1px 2px 4px 2px #adadad;
//     border-radius: 3px;
//     margin-top: 20px;
//     & .error {
//         grid-column: span 3;
//         grid-row: 1;
//     }
//     & .equal {
//         grid-column: span 3;
//         text-align: center;
//     }
//     & input[type="text"] {
//         height: 100%;
//         font-size: 1.2rem;
//         padding: 0 5px;
//         width: 100%;
//         border: 1px solid black;
//         border-radius: 5px;
//         &._selected {
//             border-color: mediumseagreen;
//         }
//         &._error {
//             border-color: red;
//         }
//     }
//     & select {
//         width: 100%;
//         height: 100%;
//         padding: 0 5px;
//     }
//     & .save {
//         border: none;
//         background-color: #ffffff;
//         height: 100%;
//         border-radius: 4px;
//         box-shadow: 0px 1px 1px 1px #b9b9b9;
//     }
// }

// .external-script {
//     max-width: 600px;
//     width: 100%;
//     height: 100px;
//     margin: 50px auto;
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-gap: 2em;
//     &__item {
//         border: 1px solid darkgrey;
//         border-radius: 5px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 10px;
//         &._mouseenter {
//             background-color: lightgreen;
//         }
//         &._clickable {
//             background-color: lightsalmon;
//         }
//         &._input-focus {
//             background-color: lightseagreen;
//         }
//         & input {
//             width: 100%;
//             height: 45px;
//             padding: 0 5px;
//         }
//     }
// }
body {
    background-color: #121212;
}
#app {
    margin: 40px auto;
    max-width: 1400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100%/4 - 1em), 1fr));
    gap: 1em;
}
.film{
    &-card {
        background-color: #121212;
        border: 1px solid rgba(255, 255, 255, 0.12);
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.7);
        padding: 0;
        &__header {
            padding: 15px 15px 0;
        }
        &__footer {
            padding: 0 15px 15px;
        }
        &__title {
            font-weight: 600;
            margin-bottom: 5px;
            padding-bottom: 3px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        }
        &__info{
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
            span{
                margin-right: 10px;
            }
            & ul {
                display: flex;
                list-style: none;
            }
        }
        &__poster {
            width: 100%;
            height: 500px;
            margin: 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__description {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 1280px) {
    * {
        font-size: 14px;
    }

    ul, ol {
        flex-wrap: wrap;
    }

    .container {
        grid-template-rows: auto;
        grid-template-areas:
            "aside aside aside"
            "header header header"
            "main main main";
    }
    
    article {
        flex-grow: 1;
        margin-right: 40px;
        height: 100%;
        min-width: 100px;
        & p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &:last-child {
            margin: 0;
        }
    }
    
    
    aside{
        & img {
            width: 200px;
            float: left;
        }
        & section{
            &:first-child {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                & h2 {
                    grid-column: 1/4;
                }
                & span, p {
                    grid-column: 1/3;
                }
                & img {
                    grid-row: 2/4;
                    grid-column: 3;
                    margin: 0;
                    height: 160px;
                    object-fit: contain;
                    margin-left: auto;
                    width: 100%;
                }
            }
            &:nth-of-type(2){
                display: none;
                clear: both;
                & img {
                    height: 150px;
                }
            }
        }
    }

    form{
        & fieldset{
            &:last-child {
                flex-wrap: wrap;
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        &__sidebar {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            margin: 2px 0;
        }
        &__content {
            width: 100%;
            float: none;
            margin: 0;
        }
    }
    
    .lists {
        flex-direction: column;
        margin: 10px 0;
        & ul, ol {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 0;
        }
    }

    .read-more {
        display: block;
        & + input:checked{
            & + section:nth-of-type(2) {
                display: block;
            }
        }
    }

    .table {
        & tr{
            &:first-child {
                & td {
                    &:first-child {
                        float: left;
                        width: 100%;
                        margin-bottom: 2px;
                    }
                    &:nth-child(2) {
                        float: left;
                        width: 100%;
                    }
                }
            }
            &:nth-child(2){
                & td{
                    &:first-child {
                        float: left;
                        width: 100%;
                        margin-bottom: 2px;
                        padding: 0;
                    }
                    &:nth-child(2) {
                        float: left;
                        width: 100%;
                    }
                }
            }
        }
        article:not(:last-child) {
            margin-bottom: 0;
        }
        
        article {
            display: inline-block;
            min-width: 100px;
            max-width: calc(100%/3 - 40px + 11px);
        }
    }
}
