* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

.App {
    min-height: 100vh;
}

.App {
    background-color: #F3F6F9;
    color: rgba(0, 0, 0, 0.6);
}

.App._dark {
    background-color: rgb(26, 32, 39);
    color: rgba(255, 255, 255, 0.7);
    & .users__item {
        background-color: rgb(18, 18, 18);
        border-color: rgba(255, 255, 255, 0.12);
    }
    & .search input {
        color: rgba(255, 255, 255, 0.7);
    }
}

.search {
    max-width: max-content;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    & h3 {
        margin-bottom: 20px;
        font-size: 26px;
    }
    & label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        & span {
            margin-right: 10px;
            color: #007FFF;
            font-size: 31px;
        }
        & input {
            border: none;
            width: 100%;
            height: 45px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(224, 227, 231);
            background-color: transparent;
            font-size: 16px;
            font-weight: 400;
            &:focus {
                outline: none;
            }
        }
    }
}

.users {
    width: 100%;
    padding: 0 15px;
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        grid-gap: 15px;
        max-width: 100%;
        margin: 30px 0 50px;
    }
    &__item {
        background-color: rgb(255, 255, 255);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 8px;
        border: 1px solid rgb(229, 232, 236);
        padding: 15px;
        display: grid;
        grid-template-columns: 80px 1fr 140px;
        align-items: center;
        justify-content: space-between;
        grid-gap: 20px;
        grid-column: span 4;
        width: 100%;
    }
    &__avatar {
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-shrink: 0;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 1.25rem;
        line-height: 1;
        border-radius: 8px;
        overflow: hidden;
        user-select: none;
        width: 80px;
        height: 80px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__login {
        font-size: 1.3rem;
        margin-bottom: auto;
        word-break: break-all;
    }
    &__button-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex;
        justify-content: space-between;
    }
    &__detail {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        outline: 0px;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        font-size: 0.875rem;
        line-height: 1.75;
        text-transform: uppercase;
        padding: 6px 16px;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: rgb(25, 118, 210);
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
        max-width: max-content;
        width: 100%;
        color: white;
    }
    &__page {
        font-size: 0.875rem;
        line-height: 1.43;
        letter-spacing: 0.01071em;
        color: rgb(25, 118, 210);
        text-decoration: underline rgba(25, 118, 210, 0.4);
        position: relative;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
    }
}

.user-detail {
    padding: 30px 15px;
    width: max-content;
    margin: 0 auto;
    & button {
        margin: 15px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 19px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        outline: 0px;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        font-size: 0.875rem;
        line-height: 1.75;
        text-transform: uppercase;
        padding: 6px 16px;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: rgb(25, 118, 210);
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
        width: 100%;
        margin: 10px 0;
        color: white;
        & span {
            margin-right: 15px;
        }
    }
    &__avatar {
        border-radius: 4px;
        overflow: hidden;
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.43;
        letter-spacing: 0.01071em;
    }
    &__left {
        margin-right: 30px;
        & h3 {
            font-size: 1.5rem;
            line-height: 1.334;
            margin-bottom: 15px;
        }
    }
    &__info {
        margin-top: 45px;
        & p {
            margin: 8px 0;
        }
        & a {
            margin: 0px;
            color: rgb(25, 118, 210);
            text-decoration: underline rgba(25, 118, 210, 0.4);
        }
    }
}

.toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    &._checked {
        & .toggle__circle {
            left: 27px;
            background-color: #4d4d4d;
        }
        & .toggle__line {
            background-color: white;
        }
    }
    &__line{
        width: 50px;
        height: 24px;
        padding: 0;
        border-radius: 30px;
        background-color: #4d4d4d;
        transition: all .2s ease;
    }
    &__circle{
        transition: all .5s cubic-bezier(.23,1,.32,1) 0ms;
        position: absolute;
        top: 1px;
        left: 1px;
        width: 22px;
        height: 22px;
        border: 1px solid #4d4d4d;
        border-radius: 50%;
        background-color: #fafafa;
        box-sizing: border-box;
        transition: all .25s ease;
    }
}